.footer-container{
    position: relative;
}
.footer-container>hr{
    border: 1px solid white;
}
.footer{
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    height: 20rem;
}
.social-links{
    display: flex;
    gap: 4rem;
}
.social-links>img{
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}
.logo-f>img{
    width: 10rem;
}
/* .socio>img{
    justify-content:space-between;
    display: inline;
    gap: 3rem;
    height: 3rem;
    size: 2rem;
    padding: 4px;
     margin-left:15rem;
}

.i-loc1{
    width: 3rem;
    height: 3rem;
    size: 2rem;
    padding: 4px;
    
    margin-left:30rem;
 }
 .i-loc2{
    width: 3rem;
    height: 3rem;
    size: 2rem;
    padding: 4px;
    
    margin-left:20rem;
 }
 .i-loc3{
    width: 3rem;
    height: 3rem;
    size: 2rem;
    padding: 4px;
    
    margin-left:30rem;
 }  */